
/* BLOCCO LEZIONI */

#lezioni .container img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}
#lezioni .container [class*="col-xs-12"] {
  padding:10px;
}
#lezioni .container [class*="col-xs-12"] > img{
  height: 150px;
  padding:5px;
}

#lezioni {
  text-align: center;
}

#lezioni .container h1{
  padding-top:20px;
}
#lezioni .container h3{
  padding-bottom:10px;
}

/* BLOCCO STEPS */

#steps {
  text-align: center;
}

#steps .container [class*="col-xs-12"] {
  padding:10px;
}

#steps .container h1{
  padding-top:20px;
}

#steps.container h3{
  padding-bottom:10px;
}
#steps .container [class*="col-xs-12"] > img {
  height: 140px;
  padding:5px;
}

#steps .container [class*="col-xs-12"] > p {
  padding:5px;
}
/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .container h1{
  padding-top:20px;
}

#why .container h3{
  padding:10px 0;
}
#why .container [class*="col-xs-12"] {
  padding:10px;
}
#why .container> {
  width: 100%;
  margin-top: 80px;
}

#why .container img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

#why .container [class*="col-xs-12"] > img  {
  padding: 10px;
  height:145px;
}

#why .container [class*="col-xs-12"] > p {
  padding:5px;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}
