
/* BLOCCO LEZIONI */

#lezioni .container img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}


#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */

#steps {
  text-align: center;
}


/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .container img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

#why .container> {
  width: 100%;
  margin-top: 80px;
}


img {
  height: 200px;
}

.clear {
  clear: both;
}

@media screen and (max-width:991px) {

  #lezioni .container,
  #steps .container,
  #why .container > div {
    padding:10px;
  }

  #lezioni .container div > p {
    padding:5px;
  }

  #lezioni .container  img{
    height: 140px;
    padding:5px;
  }

  #lezioni .container h1{
    padding-top:20px;
  }

  #lezioni .container h3{
    padding-bottom:10px;
  }

  #steps .container img {
    height: 140px;
    padding:5px;
  }

  #steps .container {
    padding:10px;
  }

  #steps .container h1{
    padding-top:5px;
  }

  #steps.container h3{
    padding-bottom:10px;
  }

  #steps .container div > p {
    padding:5px;
  }

  #why .container h1{
    padding-top:20px;
  }

  #why .container h3{
    padding:10px 0;
  }

  #why .container  img  {
    padding: 10px;
    height:140px;
  }

  #why .container div > p {
    padding:5px;
  }
}

@media screen and (max-width: 767px) {
  #lezioni .container div {
    padding:10px;
  }

  #lezioni .container img{
    height: 150px;
    padding:5px;
  }

  #lezioni .container h1{
    padding-top:20px;
  }

  #lezioni .container h3{
    padding-bottom:10px;
  }

  #steps .container {
    padding:10px;
  }

  #steps .container > div {
    padding:10px;
  }
  #steps .container h1{
    padding-top:20px;
  }

  #steps.container h3{
    padding-bottom:10px;
  }
  #steps .container img {
    height: 120px;
    padding:5px;
  }

  #why .container > div {
    padding:10px;
  }

  #why .container h1{
    padding-top:20px;
  }

  #why .container h3{
    padding:10px 0;
  }


  #why .container img  {
    padding: 10px;
    height:130px;
  }

  #why .container > p {
    padding:5px;
  }


}
